<main class="text-center">
  <h2 class="my-4">
    {{title}}
  </h2>
  {{#if error}}
    <h3 class="text-center text-warning">Error getting Inventory Details</h3>
  {{else}}
  <div class="row justify-content-evenly mx-auto w-75">
    <div class="col-lg-3">
      <div class="card text-center">
        <h3 class="card-header">
          Products 
        </h3>
        <h4 class="my-3 fw-bolder">
          {{data.productCount}}
        </h4>
        <h4>
          <a href="/inventory/products" class="btn btn-primary">All Products</a>
          <a href="/inventory/product/create" class="btn btn-success">Add New Product</a>
        </h4>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card text-center">
        <h3 class="card-header">
          Categories
        </h3>
        <h4 class="my-3 fw-bolder">
          {{data.categoryCount}}
        </h4>
        <h4>
          <a href="/inventory/categories" class="btn btn-primary">All Categories</a>
          <a href="/inventory/category/create" class="btn btn-success">Add New Category</a>
        </h4>
      </div> 
    </div>
  </div>
  {{/if}}
</main>